/* :root 안에 변수를 선언하여 프로젝트 어디서든 사용할 수 있게 합니다. */
:root {
  --color-background: #d9d9d9; /* 피그마의 밝은 회색 배경 */
  --color-background-hover: #B4B4B4;
  --color-black: #0d0d0d; /* 피그마의 어두운 글자색 */
  --color-blue: #84DEFA;
  --color-green: #26a699;
  --color-red: #D9344E;

  /* 폰트나 다른 변수들도 추가할 수 있습니다. */
  --font-family-main: 'Pretendard', sans-serif;
  --font-family-bold: 'tossface', sans-serif;
}

body {
  margin: 0; /* 브라우저의 기본 body 마진 제거 */
  /* ✅ 기본 글꼴을 Pretendard로 변경 */
  font-family: var(--font-family-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background); /* 변수를 사용해 배경색 적용 */
}

/* ✅ 제목, 굵은 텍스트에 페이퍼로지 글꼴 적용 */
h1, h2, h3, h4, h5, h6, b, strong {
  font-family: var(--font-family-bold);
}

/* box-sizing을 설정하면 padding과 border가 너비/높이에 포함되어 레이아웃 잡기가 수월해집니다. */
* {
  box-sizing: border-box;
}